header{
    background-image: url(../img/taxi-group.webp);
    background-attachment:fixed;
    background-position: center;
    background-size: cover;      
}
nav{
    display: flex;
    justify-content: space-between;
}
.header-form-wrapper{
    display: flex;
    justify-content: space-around;
}
.book-a-ride{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    max-width: 400px;
}
hr{
    height: 4px;
    width: 8%;
    background-color: #ffc61a;
}
.form-button{
    background-color: #ffc61a;
    height: 32px;
}
.btn-lrn-more{
    background-color: #ffc61a;
    height: 32px;
    width: 150px;
}
