*,*:before,*:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700;900&display=swap');
:root {    
    font-family: 'Heebo', sans-serif;
}

.wraper{
    max-width: 100%;    
    margin: 0px auto;
    padding: 0px;
}


.top-div {
    background-color: rgba(10, 7, 10, .4);       
}
.top-div-mail {
    color:#7a7777;
    margin: 10px 10px 10px 75px;    
}

.top-div-socials {
    margin:10px 75px 10px 10px;
        
}

.social-img {
    margin: 0 5px 0 5px;
}

header{
    background-image: url(../img/taxi-group.webp);
    background-attachment:fixed;
    background-position: center;
    background-size: cover;
}

.header-content-wrp {
    width: 90%;
    margin: 0 auto;   
    
}


.dark-bg {
    background-color: rgba(10, 7, 10, .7);
}

nav{    
    
    margin-top: 30px;
   
   }

.menu {

}

.nav-number {
    color: #ffc61a;
    font-size: 26px;
    font-weight: bold;
}

.header-form-text-wrp {
    grid-area: 2/1/3/5;
   
}

.header-form-wrapper{ 
    margin-right: 150px;
    grid-area: 2/1/3/3;
    justify-self: start;
}

.reliable-taxi {
        grid-area: 2/3/3/5;
        justify-self: end;
    }

.reliable-taxi h2 {
    color: #fff;
    font-size: 80px;
    font-weight: bold;    
}

.reliable-taxi p {
    color:#7a7777;
    font-size: 24px;
    font-weight: bold;
}


.book-a-ride{
    background-color: #fff;   
}

img {
    max-width: 100%;
}

.social-img img{
    background-color: #fff;   
    border: 1px #fff solid;
    height: 25px;
    width: 25px;
}

.comfort-types img {    
    height: 75px;
    width: 75px;
}

.comfort-types-cnt {
    margin: 50px 50px 50px 30px;
}
hr{
    height: 2px;
    width: 8%;
    background-color: #ffc61a;
}
.form-button{
    background-color: #ffc61a;
    height: 32px;
}
.btn-lrn-more{
    background-color: #ffc61a;
    height: 32px;
    width: 150px;
}
.carrousel {  
    margin: auto;
}
.slides {
    display: flex;
    justify-content: space-around;    
    margin: auto;
    flex-wrap: nowrap;
    width: 100%;
    background: #ffc61a;
}
.comfort, .sport, .van, .luxury{
    background: #ffc61a;
    display: none;
}

.order-btn {
    background-color:#b34700; 
    padding: 10px 5px 10px 10px;
    width: 140px; 
}

.order-btn:hover {
    background-color: #000;
}

.order-btn a {
    color: #fff;
    text-decoration: none;
}

.order-btn-ctn img {
    height: 25px;
    width: 50px;  
    margin-bottom: -8px;
}
.welcome{
    background-image: url(../img/half-cab.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: start;
    height: 300px;
}
.brend-color {
    display: block;
    color: #ffc61a;
}

.welcome-content p{
    color: #7a7777;    
}

.welcome-content h3 {
    display: block;
}

.welcome-content {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    flex-wrap: wrap;
}

.discount{
    background-color: #ffc61a;
    display: flex;
    flex-direction: column;
}

.download-app {
    background: url(../img/man-phone-cab.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;    
}

.download-app-content h2{
    color: #fff;
    font-size: 80px;
    font-weight: bold;
}

.mobile-app{
    display: flex;
}
.testimonials{
    background-color: #000;
    display: flex;
}
.testim-carrousel{
    display: flex;
}
.contacts-section{
    background-color: #ffc61a;
    display: flex;
}
.footer{
    display: flex;
    flex-direction: row;
}
.countdown {
    display: flex;    
    justify-content: space-around;
}
.time {
    width: 100px;
}
