*,*:before,*:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.wraper{
    max-width: 1200px;    
    margin: 0px auto;
    padding: 0px 15px;
}

@media(max-width: 1200px) {
    .wraper {
        max-width: 970px;
    }
}

@media(max-width: 992px) {
    .wraper {
        max-width: 750px;
    }
}

@media(max-width: 767px) {
    .wraper {
        max-width: none;
    }
}

header{
    background-image: url(../img/taxi-group.webp);
    background-attachment:fixed;
    background-position: center;
    background-size: cover;      
}

.dark-bg {
    background-color: rgba(10, 7, 10, .7);;
}

nav{
    display: flex;
    justify-content: space-around;
}
.header-form-wrapper{
    display: flex;
    justify-content: space-around;
}
.book-a-ride{
    background-color: #fff;
    display: flex;
    flex-direction: column;    
}

img {
    max-width: 100%;
}

.social-img img{
    background-color: #fff;   
    border: 1px #fff solid;
    height: 25px;
    width: 25px;
}

.comfort-types img {    
    height: 75px;
    width: 75px;
}

.comfort-types-cnt {
    margin: 50px 50px 50px 30px;
}
hr{
    height: 2px;
    width: 8%;
    background-color: #ffc61a;
}
.form-button{
    background-color: #ffc61a;
    height: 32px;
}
.btn-lrn-more{
    background-color: #ffc61a;
    height: 32px;
    width: 150px;
}
.carrousel {
    display: flex;
    justify-content: space-around;    
    margin: auto;
}
.comfort, .sport, .van, .luxury{
    background: #ffc61a;
}

.order-btn {
    background-color:#b34700; 
    padding: 10px 5px 10px 10px;
    width: 140px; 
}

.order-btn:hover {
    background-color: #000;
}

.order-btn a {
    color: #fff;
    text-decoration: none;
}

.order-btn-ctn img {
    height: 25px;
    width: 50px;  
    margin-bottom: -8px;
}
.welcome{
    background-image: url(../img/man-phone-cab.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.discount{
    background-color: #ffc61a;
    display: flex;
    flex-direction: column;
}
.mobile-app{
    display: flex;
}
.testimonials{
    background-color: #000;
    display: flex;
}
.testim-carrousel{
    display: flex;
}
.contacts-section{
    background-color: #ffc61a;
    display: flex;
}
.footer{
    display: flex;
    flex-direction: row;
}
.countdown {
    display: flex;    
    justify-content: space-around;
}
.time {
    width: 100px;
}